.container{
    display: grid;

    /* grid-template-columns: 250px 200px;; */

    /* grid-template-columns: 250px 250px 250px 250px; */

    /* row-gap:20px;
    column-gap:10px; */

    gap:20px;  /* gap both row and columnn */

    /* fr=>frexcal */

    /* grid-template-columns: 1fr 2fr 1fr 1fr; */

    /* grid-template-columns: repeat(5, 1fr);  5 is the number of column and 1fr is size */

    /* grid-template-columns: repeat(auto-fill, 300px); */
    
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));

    /* grid-auto-rows: 200px; */

    grid-auto-rows:minmax(100px 200px);
    
}

/* .box {
    height:150px;
} */
#box1{
    background-color: black;
}
#box2{
    background-color: red;
}
#box3{
    background-color: rgb(140, 23, 23);
}
#box4{
    background-color: rgb(79, 79, 184);
}

#box5{
    background-color: rgb(200, 146, 146);
}
#box6{
    background-color: rgb(47, 225, 101);
}
#box7{
    background-color: rgb(23, 132, 140);
}
#box8{
    background-color: rgb(142, 158, 99);
}
#box9{
    background-color: rgb(126, 21, 96);
}
